[path]
data = ./data/ISRUC_S3/ISRUC_S3.npz
disM = ./data/ISRUC_S3/DistanceMatrix.npy
save = ./output/

[feature]
channels = 10
fold = 2
epoch_f = 1
batch_size_f = 64
optimizer_f = adam
learn_rate_f = 0.0002

[train]
channels = 10
fold = 2
context = 5
epoch = 1
batch_size = 32
optimizer = adam
learn_rate = 0.0002
lambda_GRL = 0.001

